.navbar {
    background-color: #fff;
    color: #1f9cd8;
    font-size: 1.5rem;
    padding: 10px;
}

.navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar-item {
    margin-right: 50px;
}

.navbar-item:last-child {
    margin-right: 0;
}

.navbar-item a {
    color: #1f9cd8;
    text-decoration: none;
}

.navbar-item a:hover {
    text-decoration: underline;
}

.navbar-submenu {
    position: relative;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #333;
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
    font-size: 1.1rem;
}

.navbar-submenu:hover .submenu {
    display: block;
}


.submenu li {
    margin: 5px 0;
}

.submenu li a {
    color: #fff;
    text-decoration: none;
}

.submenu li a:hover {
    text-decoration: underline;
}
