.detail-internship-container {
    margin: 20px;
}

.detail-internship-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.detail-internship-container table {
    width: 100%;
    border-collapse: collapse;
}

.detail-internship-container th,
.detail-internship-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.detail-internship-container th {
    background-color: #f2f2f2;
}

.detail-internship-container tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.detail-internship-container tbody tr:hover {
    background-color: #ddd;
}

td{
    text-align: center;
}